.footer-container {
  background-color: #2d3748;
  padding: 1rem;
  margin-top: 2rem;
  color: #ffffff;
}

.footer-content {
  margin-bottom: 1rem;
}

.footer-content span {
  font-size: 1rem;
  text-align: center;
  display: block;
}
